@import play.api.mvc.RequestHeader

@(name: String)(implicit request: RequestHeader)


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="Chat Application">
	<meta name="author" content="Ilya Igonkin">
	<link rel="icon" href="../../favicon.ico">
	
	<title>TaxiTube Chat</title>
	
	<!-- Bootstrap core CSS -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	<link href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<link href="@routes.Assets.at("stylesheets/cover.css")" rel="stylesheet">
	<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body data-ws-url="@routes.Application.ws().webSocketURL()">

	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand"><b><span class="text-muted">Taxi</span>Tube</b> Chat</h3>
					</div>
				</div>

				<div class="inner cover">
					<dl id="board" class="dl-horizontal">
					</dl>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<div class="row">
							<div class="col-xs-2 strong text-right">
								<a class="username btn btn-link" href="#" title="Change name">@name</a>
							</div>
							<div class="col-xs-10">
								<form id="msgform" class="form-horizontal">
									<div class="col-xs-11">
										<input id="msgtext" type="text" class="form-control"
											autocomplete="off" autofocus="autofocus" placeholder="Type a message here…" />
									</div>
									<div class="col-xs-1">
										<button type="submit" class="btn btn-danger">SEND</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
	<script src="@routes.Assets.at("lib/bootstrap-growl/bootstrap-notify.min.js")"></script>
	<script src="@routes.Assets.at("lib/bootbox/bootbox.js")"></script>
	<script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!-- <script src="@routes.Assets.at("lib/bootstrap/js/ie10-viewport-bug-workaround.js")"></script> -->
	<script src="@routes.Assets.at("javascripts/main.js")"></script>
</body>
</html>